*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background: #eee;
}
.wrapper{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}
.flex-container{
    display: flex;
}
.box{
    min-width: 100px;
    height: 100px;
}
.one{
    background-color: red;
}
.two{
    background-color: blue;
}
.three{
    background: green;
}
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}
nav{
    background-color: #333;
}
nav ul{
    list-style-type: none;
}
nav a{
    text-decoration: none;
    text-align: center;
    color: #fff;
    padding: 10px;
    display: block;
}
nav a:hover{
    background-color: #555;
}